xterm*scrollBar: false
xterm*saveLines: 10000
xterm*VT100.Translations: #override \
		Ctrl Shift <Key>V: 	insert-selection(CLIPBOARD) \n\
		Ctrl Shift <Key>C: 	copy-selection(CLIPBOARD)

XTerm.vt100*allow_bold: true
XTerm.vt100*faceName: Dejavu Sans Mono
XTerm*faceSize: 11
XTerm*renderFont: true

!------------- XTerm Setup ----------------------!

XTerm.termName: xterm-256color
XTerm.vt100*locale: checkfont
XTerm.vt100*utf8: 3
XTerm.vt100*jumpScroll: true
XTerm.vt100*loginshell: true
XTerm.vt100*cursorBlink:          false
XTerm.vt100*cursorUnderline:      false
XTerm.vt100*saveLines: 999999999999999999999999

XTerm.vt100*pointerColorBackground: #586e75
XTerm.vt100*pointerColorForeground: #93a1a1

XTerm.vt100*foreground:   #ffeefc
XTerm.vt100*background:   #141021
XTerm.vt100*cursorColor:  #c16772

! black
XTerm.vt100*color0:       #4f4858
XTerm.vt100*color8:       #545d67

! red
XTerm.vt100*color1:       #c05c47
XTerm.vt100*color9:       #c16772

! green
XTerm.vt100*color2:       #428e8e
XTerm.vt100*color10:      #afda6e

! yellow
XTerm.vt100*color3:       #e4b226
XTerm.vt100*color11:      #ebcf1a

! blue
XTerm.vt100*color4:       #4457a3
XTerm.vt100*color12:      #4880a5

! magenta
XTerm.vt100*color5:       #903a62
XTerm.vt100*color13:      #9568a1

! cyan
XTerm.vt100*color6:       #7aa1dc
XTerm.vt100*color14:      #abbcda

! white
XTerm.vt100*color7:       #c4b7c5
XTerm.vt100*color15:      #ffeefc

!!! white color for BOLD TEXT
!!! green color for ITALICS TEXT
XTerm.vt100*colorBD: white
XTerm.vt100*colorIT: green

! mouse cursor settings
XTerm.vt100*theme: whiteglass
XTerm.vt100*size: 32


!!!!!!!!!!!!URXVT!!!!!!!!!!!!!!

*.font: xft:DejaVu Sans Mono:size=11

Xft.dpi:                        96
Xft.antialias:                  1
Xft.autohint:                   1
Xft.hinting:                    1
Xft.hintstyle:                  hintslight
Xft.lcdfilter:                  lcdlight
Xft.rgba:                       rgb

URxvt*termName:                 rxvt-256color
URxvt.depth:                    32
URxvt*lineSpace:                1
URxvt.letterSpace:              -1
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.perl-ext:	 		default,matcher
URxvt.matcher.button: 		1

*.foreground:   #ffeefc
*.background:   #141021
*.cursorColor:  #c16772

! black
*.color0:       #4f4858
*.color8:       #545d67

! red
*.color1:       #c05c47
*.color9:       #c16772

! green
*.color2:       #428e8e
*.color10:      #afda6e

! yellow
*.color3:       #e4b226
*.color11:      #ebcf1a

! blue
*.color4:       #4457a3
*.color12:      #4880a5

! magenta
*.color5:       #903a62
*.color13:      #9568a1

! cyan
*.color6:       #7aa1dc
*.color14:      #abbcda

! white
*.color7:       #c4b7c5
*.color15:      #ffeefc



rofi.color-enabled: true
rofi.color-window: #141021, #c16772, #9568a1
rofi.color-normal: #141021, #ffeefc, #312842, #c16772, #ffeefc
rofi.color-active: #141021, #c05c47, #312842, #c05c47, #ffeefc
rofi.color-urgent: #141021, #e4b226, #312842, #e4b226, #ffeefc
rofi.width: 800
rofi.padding: 50
rofi.bw: 3
rofi.separator-style: solid
rofi.hide-scrollbar: true
